#settings-container {
    color: black;
    margin-left: 5px;
    margin-bottom: 40px;
}

.date-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#settings-container .button {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

#settings-container .button-primary {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #5256ad;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    padding-left: 10px;
}

#settings-container input {

}

#settings-container input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
    margin: 0 0 0 20px;
}

#settings-container input[type="text"], input[type="number"] {
    all: initial;
    background: white;
    border-radius: 5px;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px;
}

input[type="text"]::placeholder, input[type="number"]::placeholder {
}

.button {
    text-align: center;
}


.toggle-pill-color input[type="checkbox"] {
    display: none;
}

.toggle-pill-color input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    background: gray;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-color input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-pill-color input[type="checkbox"]:checked + label {
    background: #47cf73;
}

.toggle-pill-color input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}

.drag-area {
    border: 2px dashed #5256ad;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.drag-area.active {
    color: #fff;
    background: #5256ad;
    font-size: 30px;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area #header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-buttons button {
    margin: 10px 0;
}
