#tictactoe {
    background-color: cornflowerblue;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    width: 100px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    font-size: 30px;
}

.game--title {
    text-align: center;
    color: black;
    margin-top: 60px;
}

.game--status {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.game--restart {
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 10px;
    background-color: darkblue;
}

.message {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
